.css-15wwp11-MuiTableHead-root {
  background-color: transparent !important;
  color: red !important;
  z-index: 5;
}
.spinner-box {
  min-height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.delete {
  cursor: pointer;
  font-weight: 600;
  color: red;
}
.delete:hover {
  color: red;
}
.edit {
  cursor: pointer;
  color: rgb(81, 204, 81);
  font-weight: 600;
}
.table_header {
  background-color: #d31c2b;
  color: white;
}
.download_btn {
  padding: 10px 15px;
  font-size: 17px;
  font-weight: 600;
  height: 60px;
  border: transparent;
  border-radius: 5px;
  background-color: #d31c2b;
  color: #fff;
}
.icons {
  font-size: 21px;
}
.icon {
  font-size: 30px;
}
.number {
  width: 100px;
  margin-top: 12px;
}
.number1,
.number2,
.number3 {
  width: 27px;
  height: 27px;
  font-size: 20px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}
.number1 {
  color: #fff;
  background-color: #d31c2b;
}
.number2,
.number3 {
  background-color: lightgray;
}
