.view_section {
  position: relative;
}
.css-15wwp11-MuiTableHead-root {
  background-color: transparent !important;
  color: red !important;
  z-index: 5;
}
.spinner-box {
  min-height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.delete {
  cursor: pointer;
  font-weight: 600;
  color: red;
}
.delete:hover {
  color: red;
}
.edit {
  cursor: pointer;
  color: rgb(81, 204, 81);
  font-weight: 600;
}
.table_header {
  background-color: #d31c2b;
  color: white;
}
.download_btn {
  padding: 10px 15px;
  font-size: 17px;
  font-weight: 600;
  height: 60px;
  border: transparent;
  border-radius: 5px;
  background-color: #d31c2b;
  color: #fff;
}
.icons {
  font-size: 21px;
}
.icon {
  font-size: 30px;
}
.number {
  width: 100px;
  margin-top: 12px;
}
.number1,
.number2,
.number3 {
  width: 27px;
  height: 27px;
  font-size: 20px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}
.number1 {
  color: #fff;
  background-color: #d31c2b;
}
.number2,
.number3 {
  background-color: lightgray;
}

.page-item.active .page-link {
  background-color: transparent;
  background-color: #d31c2b;
  border-color: transparent;
  border-color: #d31c2b;
}

.page-link {
  margin: 7px;
  cursor: pointer;
  border-radius: 3px;
}
.activeStyle {
  color: #fc5b62;
  font-weight: 800;
  background-color: transparent;
  margin-bottom: 10px;
}

/* SEARCH ITEMS STYLE */

.input_items p {
  color: #3f27ba;
  font-weight: 600;
  transition: 0.3s;
  padding: 10px 0;
}

.details_search_item {
  border: 2px solid #e8f0fe;
  position: absolute;
  width: 12rem;
  background-color: rgba(255, 255, 255, 0.9);
  margin-top: 1px;
  padding: 10px;
  color: #330691;
}

.input_items p:hover {
  background: lightgray;
  transition: 0.3s;
  padding: 10px 4px;
  cursor: pointer;
}
.border_style {
  border-left: 2px solid rgb(199, 199, 199);
}
/*--------------------------------------------------------------------*/
/*                     RESPONSIVE WITH MEDIA QUERY                    */
/*--------------------------------------------------------------------*/
@media screen and (max-width: 767px) {
  .border_style {
    border-left: none;
    border-top: 2px solid rgb(199, 199, 199);
  }
  .activeStyle {
    margin-top: 10px;
  }
}

@media screen and (max-width: 575px) {
  .border_style {
    width: 575px;
  }
}
