.css-hip9hq-MuiPaper-root-MuiAppBar-root,
.css-1x7skt0 {
  background-color: transparent !important;
  background-color: #af0c1a !important;
}
.photoURL {
  margin: 1rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
